USE [master]
GO
/****** Object:  Database [CrudTeste]    Script Date: 09/12/2020 21:52:41 ******/
CREATE DATABASE [CrudTeste]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudTeste', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CrudTeste.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrudTeste_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CrudTeste_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrudTeste].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrudTeste]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 09/12/2020 21:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
	[cpf] [varchar](16) NULL,
	[endereco] [varchar](255) NULL,
	[telefone] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 09/12/2020 21:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
	[Cnpj] [varchar](16) NULL,
	[Endereco] [varchar](255) NULL,
	[Telefone] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
